.box{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-top: 15px;
}

.green{
    
    background-color: green;
    margin-top: 15px;
}

.red{
    
    background-color: red;
    margin-top: 15px;
}